<a href="https://colab.research.google.com/github/megha-mv/AIRBNB-PROJECT-1-CAPSTON/blob/main/Copy_of_Assignment_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <u> Use only those concepts which have been taught till now </u>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [219]:
#import modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# <b><u> Problem 1: </u> Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor. </b>

In [220]:
#Read CSV data
dir_path='/content/drive/MyDrive/Colab Notebooks/pandas/dat/'
df_imdb=pd.read_csv(dir_path+'imdb_data.csv')
# df_imdb.head(3)

In [221]:
#check the data
# df_imdb.info()
#check the null values
# df_imdb.isnull().sum()
#Total null values in whole dataframe
# df_imdb.isnull().sum().sum()
#
df_imdb.isnull().values.any()                            # will return true if there are any null values in dataframe
# 
#check which rows in particular column has null values
# nan_rows=df_imdb[df_imdb['genres'].isnull()]
# nan_rows
#
# df_imdb.isnull().T.any().T.sum()                                   #will return how many rows are there having NaNs 
#
# nan_rows = df_imdb[df_imdb.isnull().T.any()]                          # This will return all the rows having null values in any of the columnc
# 
#check if the particular column has null value
df_imdb['genres'].isnull().sum()

# another way to check if particular column (series) has null values or not
df_imdb['genres'].hasnans

True

In [222]:
df_imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

In [223]:
# Your code here
#check if Genres has null value and how many
# df_imdb['genres'].isnull().sum()
column1=['genres']
df_imdb_genres=pd.DataFrame(df_imdb,columns=column1)
# df_imdb_genres.isnull().sum()
df_imdb_genres.replace(np.nan,None,inplace=True)
df_imdb_genres['genres'].hasnans

False

In [224]:
# Create Dataframe having movies name and their cast
column2=['original_title','cast']
df_movies=pd.DataFrame(df_imdb,columns=column2)
# df_movies.isnull().sum()
#as cast have some null values so we need to choose only those rows from cast column which have not null valuess
df_movies.loc[~df_movies['cast'].isna(),'cast']
#check the type of original_title and cast
type(df_movies.loc[0,'original_title'])
type(df_movies.loc[0,'cast'])

str

In [225]:
df_movies.dropna(inplace=True)

In [226]:
#convert this string to list to apply multiple operations and this will be applied to only non null rows
def convert(str):
  return eval(str)

In [227]:
#convert the str into list
df_movies['cast']=df_movies['cast'].apply(convert)
type(df_movies.loc[0,'cast'])

list

In [228]:
#Fetching name from this cast_list
def actor_name(cast):
  actor=[]
  for elem in cast:
    actor.append(elem['name']) 

  return actor

In [229]:
#create a new column having only name
df_movies['actors']=df_movies.apply(lambda x:actor_name(x['cast']),axis=1)
df_movies.head(5)

                             original_title  ...                                             actors
0                    Hot Tub Time Machine 2  ...  [Rob Corddry, Craig Robinson, Clark Duke, Adam...
1  The Princess Diaries 2: Royal Engagement  ...  [Anne Hathaway, Julie Andrews, H√©ctor Elizond...
2                                  Whiplash  ...  [Miles Teller, J.K. Simmons, Melissa Benoist, ...
3                                   Kahaani  ...  [Vidya Balan, Nawazuddin Siddiqui, Parambrata ...
4                                      마린보이  ...  [Kim Kang-woo, Jo Jae-hyeon, Park Si-yeon, Kim...

[5 rows x 3 columns]

In [230]:
#from the name list of actors to fetch the movie count for each actor
#We need to arrange the data of actors present in list to row but in one column
#for this lets take another dataframe having only actors details
column_act=['actors']
df_org_cast_act=pd.DataFrame(df_movies,columns=column_act)

In [231]:
#Explode here will convert the list to different row
df_org_cast_act=df_org_cast_act.explode('actors')

In [232]:
#value_counts() will count the number of times a name appears in the row
#This count is nothing but the name appearing in each list
df_org_cast_act['actors'].value_counts()

Robert De Niro       30
Samuel L. Jackson    30
Morgan Freeman       27
Bruce Willis         25
Susan Sarandon       25
                     ..
Ivan Krasko           1
Marisa Petroro        1
Jano Badovinac        1
Tom McBeath           1
Nancy Borgenicht      1
Name: actors, Length: 38588, dtype: int64

So from here we can conclude that **"Robert De Niro" and 'Samuel L. Jackson'** worked in most number of 
movies

---

# <b><u> Problem 2 :</u> Top 3 directors prefer which actors the most?

In [233]:
df_imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

In [234]:
# Find top 3 directors - (Here top 3 directors will be directors of those movies which generates highest profit)
#Step1: Find those movies which generated highest profits
#For this we need three columns - budget,original_title,crew,revenue
column3=['budget','original_title','crew','revenue']
df_imdb_dir=pd.DataFrame(df_imdb,columns=column3)
df_imdb_dir

        budget  ...    revenue
0     14000000  ...   12314651
1     40000000  ...   95149435
2      3300000  ...   13092000
3      1200000  ...   16000000
4            0  ...    3923970
...        ...  ...        ...
2995         0  ...    1596687
2996         0  ...     180590
2997  65000000  ...   89456761
2998  42000000  ...  171963386
2999  35000000  ...   82087155

[3000 rows x 4 columns]

In [235]:
#check for null values
df_imdb_dir.isnull().sum()
#from this we conculed that crew has some null values.

budget             0
original_title     0
crew              16
revenue            0
dtype: int64

In [236]:
#check outliners
df_imdb_dir.describe()

             budget       revenue
count  3.000000e+03  3.000000e+03
mean   2.253133e+07  6.672585e+07
std    3.702609e+07  1.375323e+08
min    0.000000e+00  1.000000e+00
25%    0.000000e+00  2.379808e+06
50%    8.000000e+06  1.680707e+07
75%    2.900000e+07  6.891920e+07
max    3.800000e+08  1.519558e+09

In [237]:
#check type of column crew
print(type(df_imdb_dir.loc[0,'crew']))

<class 'str'>

In [238]:
#Function to calculate profit
def profit(budget,revenue):
  profit = revenue-budget
  return profit

In [239]:
#Calculate Profit
df_imdb_dir['Profit']=df_imdb_dir.apply(lambda x : profit(x['budget'],x['revenue']),axis=1)
df_imdb_dir.head(5)

     budget                            original_title  ...   revenue    Profit
0  14000000                    Hot Tub Time Machine 2  ...  12314651  -1685349
1  40000000  The Princess Diaries 2: Royal Engagement  ...  95149435  55149435
2   3300000                                  Whiplash  ...  13092000   9792000
3   1200000                                   Kahaani  ...  16000000  14800000
4         0                                      마린보이  ...   3923970   3923970

[5 rows x 5 columns]

In [240]:
#Take top 5 profitable movie only and form another dataframe
df_top_dir=pd.DataFrame(df_imdb_dir.nlargest(5, ['Profit']))
df_top_dir

         budget                  original_title  ...     revenue      Profit
1761  190000000                       Furious 7  ...  1506249360  1316249360
1126  220000000                    The Avengers  ...  1519557910  1299557910
2770  280000000         Avengers: Age of Ultron  ...  1405403694  1125403694
684   160000000            Beauty and the Beast  ...  1262886337  1102886337
2322  195000000  Transformers: Dark of the Moon  ...  1123746996   928746996

[5 rows x 5 columns]

In [241]:
df_top_dir.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 1761 to 2322
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   budget          5 non-null      int64
 1   original_title  5 non-null      object
 2   crew            5 non-null      object
 3   revenue         5 non-null      int64
 4   Profit          5 non-null      int64
dtypes: int64(3), object(2)
memory usage: 240.0+ bytes

In [242]:
#As Crew column has string,convert the string to list to fetch names of director
#function to convert is already defined 
#apply function on this dataframe
df_top_dir['crew']=df_top_dir['crew'].apply(convert)

In [243]:
df_imdb['crew'][0]

'[{\'credit_id\': \'59ac067c92514107af02c8c8\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1449071, \'job\': \'First Assistant Director\', \'name\': \'Kelly Cantley\', \'profile_path\': None}, {\'credit_id\': \'52fe4ee7c3a36847f82afad7\', \'department\': \'Directing\', \'gender\': 2, \'id\': 3227, \'job\': \'Director\', \'name\': \'Steve Pink\', \'profile_path\': \'/myHOgo8mQSCiCAZNGMRdHVr03jr.jpg\'}, {\'credit_id\': \'5524ed25c3a3687ded000d88\', \'department\': \'Writing\', \'gender\': 2, \'id\': 347335, \'job\': \'Writer\', \'name\': \'Josh Heald\', \'profile_path\': \'/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg\'}, {\'credit_id\': \'5524ed2d925141720c001128\', \'department\': \'Writing\', \'gender\': 2, \'id\': 347335, \'job\': \'Characters\', \'name\': \'Josh Heald\', \'profile_path\': \'/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg\'}, {\'credit_id\': \'5524ed3d92514166c1004a5d\', \'department\': \'Production\', \'gender\': 2, \'id\': 57822, \'job\': \'Producer\', \'name\': \'Andrew Panay\', \'profile_path\': None}, {\'credit_id\': \'5524ed4bc3a3687df3000dd2\', \'department\': \'Production\', \'gender\': 0, \'id\': 1451395, \'job\': \'Associate Producer\', \'name\': \'Adam Blum\', \'profile_path\': None}, {\'credit_id\': \'5524ed5a925141720c00112c\', \'department\': \'Production\', \'gender\': 2, \'id\': 52997, \'job\': \'Executive Producer\', \'name\': \'Rob Corddry\', \'profile_path\': \'/k2zJL0V1nEZuFT08xUdOd3ucfXz.jpg\'}, {\'credit_id\': \'5524ed85c3a3687e0e000f56\', \'department\': \'Production\', \'gender\': 0, \'id\': 62807, \'job\': \'Executive Producer\', \'name\': \'Ben Ormand\', \'profile_path\': None}, {\'credit_id\': \'5524ed9fc3a3687e0e000f59\', \'department\': \'Sound\', \'gender\': 2, \'id\': 23486, \'job\': \'Original Music Composer\', \'name\': \'Christophe Beck\', \'profile_path\': \'/2fnJUmCk6IEpVIptpYaUk31epHx.jpg\'}, {\'credit_id\': \'5524eda6c3a3687e03000d28\', \'department\': \'Camera\', \'gender\': 2, \'id\': 6117, \'job\': \'Director of Photography\', \'name\': \'Declan Quinn\', \'profile_path\': None}, {\'credit_id\': \'5524edb4925141720c00113d\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1451396, \'job\': \'Editor\', \'name\': \'Jamie Gross\', \'profile_path\': None}, {\'credit_id\': \'5524edc1925141727600102e\', \'department\': \'Production\', \'gender\': 0, \'id\': 22219, \'job\': \'Casting\', \'name\': \'Susie Farris\', \'profile_path\': None}, {\'credit_id\': \'5524edd192514171cb008257\', \'department\': \'Art\', \'gender\': 0, \'id\': 1002643, \'job\': \'Production Design\', \'name\': \'Ryan Berg\', \'profile_path\': None}, {\'credit_id\': \'555ad9be9251411e5b00d485\', \'department\': \'Production\', \'gender\': 2, \'id\': 57431, \'job\': \'Executive Producer\', \'name\': \'Matt Moore\', \'profile_path\': None}, {\'credit_id\': \'5677e93bc3a36816890087dc\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1551818, \'job\': \'Script Supervisor\', \'name\': \'Nicole Garcea\', \'profile_path\': None}, {\'credit_id\': \'5677e96a92514179e10093d0\', \'department\': \'Production\', \'gender\': 0, \'id\': 1551819, \'job\': \'Production Coordinator\', \'name\': \'Jason Salzman\', \'profile_path\': None}, {\'credit_id\': \'5677e98492514179d2008cd9\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1422996, \'job\': \'Costume Design\', \'name\': \'Carol Cutshall\', \'profile_path\': None}, {\'credit_id\': \'5677e9d5c3a368168e009414\', \'department\': \'Art\', \'gender\': 2, \'id\': 500199, \'job\': \'Set Decoration\', \'name\': \'Tim Cohn\', \'profile_path\': None}, {\'credit_id\': \'5677f89d9251417845001a61\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1527917, \'job\': \'Hair Department Head\', \'name\': \'Voni Hinkle\', \'profile_path\': None}, {\'credit_id\': \'5677f8b392514179dd0089fb\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1431554, \'job\': \'Makeup Department Head\', \'name\': \'Remi Savva\', \'profile_path\': None}, {\'credit_id\': \'5677f8d1c3a3681689008a4b\', \'department\': \'Art\', \'gender\': 0, \'id\': 66495, \'job\': \'Art Direction\', \'name\': \'Jason Baldwin Stewart\', \'profile_path\': None}, {\'credit_id\': \'5677f8eec3a3681685008dd5\', \'department\': \'Production\', \'gender\': 0, \'id\': 1412466, \'job\': \'Production Supervisor\', \'name\': \'Korey Budd\', \'profile_path\': None}, {\'credit_id\': \'5677f90a9251417845001a7d\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1401562, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gary C. Bourgeois\', \'profile_path\': None}, {\'credit_id\': \'5677f91e9251417845001a84\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1396794, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gabriel J. Serrano\', \'profile_path\': None}, {\'credit_id\': \'5677f938c3a3681680008dd4\', \'department\': \'Editing\', \'gender\': 0, \'id\': 13168, \'job\': \'Dialogue Editor\', \'name\': \'Victoria Rose Sampson\', \'profile_path\': None}, {\'credit_id\': \'5677f94e92514179dd008a1f\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551839, \'job\': \'Production Sound Mixer\', \'name\': \'Michael B. Koff\', \'profile_path\': None}, {\'credit_id\': \'5677f968c3a368168e009698\', \'department\': \'Sound\', \'gender\': 0, \'id\': 113052, \'job\': \'Sound Effects Editor\', \'name\': \'Randall Guth\', \'profile_path\': None}, {\'credit_id\': \'5677f98dc3a3681685008e02\', \'department\': \'Crew\', \'gender\': 2, \'id\': 1442535, \'job\': \'Stunt Coordinator\', \'name\': \'Chuck Picerni Jr.\', \'profile_path\': \'/yE5QtXUzcrnCzMRctZL8F5g842B.jpg\'}, {\'credit_id\': \'5677f9a692514179dd008a49\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1437305, \'job\': \'Camera Operator\', \'name\': \'Michael Applebaum\', \'profile_path\': None}, {\'credit_id\': \'5677f9bd9251417845001aae\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1401765, \'job\': \'Still Photographer\', \'name\': \'Steve Dietl\', \'profile_path\': None}, {\'credit_id\': \'5677f9e592514179e7008bf7\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1402721, \'job\': \'Rigging Gaffer\', \'name\': \'Tarik Naim Alherimi\', \'profile_path\': None}, {\'credit_id\': \'5677f9f4c3a368167c0090ed\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1402719, \'job\': \'Gaffer\', \'name\': \'Paul Olinde\', \'profile_path\': None}, {\'credit_id\': \'5677fa21c3a368168e0096ca\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551840, \'job\': \'Music Supervisor\', \'name\': \'Steve Griffen\', \'profile_path\': None}, {\'credit_id\': \'5677fa31c3a3681680008e04\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551841, \'job\': \'Music Editor\', \'name\': \'Matt Fausak\', \'profile_path\': None}, {\'credit_id\': \'5677fa4392514179dd008a76\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551840, \'job\': \'Music Editor\', \'name\': \'Steve Griffen\', \'profile_path\': None}, {\'credit_id\': \'5677fa609251417845001acf\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1403416, \'job\': \'Costume Supervisor\', \'name\': \'Shonta T. McCray\', \'profile_path\': None}, {\'credit_id\': \'5677fa8492514179d2008fb3\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1425831, \'job\': \'Steadicam Operator\', \'name\': \'Mark Karavite\', \'profile_path\': None}, {\'credit_id\': \'5677fab2c3a3681689008ac3\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1551842, \'job\': \'First Assistant Camera\', \'name\': \'Joe Waistell\', \'profile_path\': None}, {\'credit_id\': \'5677faecc3a368168e0096fe\', \'department\': \'Sound\', \'gender\': 0, \'id\': 58362, \'job\': \'Supervising Sound Editor\', \'name\': \'Michael Hilkene\', \'profile_path\': None}, {\'credit_id\': \'59ac0368c3a3682c0a02c484\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1881584, \'job\': \'Additional Writing\', \'name\': \'John Karnay\', \'profile_path\': None}, {\'credit_id\': \'59ac0411c3a3682bf0028966\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1431552, \'job\': \'Hairstylist\', \'name\': \'Daina Daigle\', \'profile_path\': None}, {\'credit_id\': \'59ac0504925141072302b8fb\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1712001, \'job\': \'Makeup Artist\', \'name\': \'Allison Gordin\', \'profile_path\': None}, {\'credit_id\': \'59ac0570c3a3682bf0028aac\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 578725, \'job\': \'Makeup Artist\', \'name\': \'Darryl Lucas\', \'profile_path\': None}, {\'credit_id\': \'59ac05a4925141077e02c97e\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1463274, \'job\': \'Makeup Artist\', \'name\': \'Annabelle MacNeal\', \'profile_path\': None}, {\'credit_id\': \'59ac05c6925141076502d106\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1881586, \'job\': \'Makeup Artist\', \'name\': \'Marina Savva\', \'profile_path\': None}, {\'credit_id\': \'59ac0615c3a3682c480296aa\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1406267, \'job\': \'Hairstylist\', \'name\': \'Carl G. Variste\', \'profile_path\': None}, {\'credit_id\': \'59ac06ba925141076502d1fa\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1798593, \'job\': \'First Assistant Director\', \'name\': \'Josh King\', \'profile_path\': None}, {\'credit_id\': \'59ac06f1c3a3682c2202aca0\', \'department\': \'Art\', \'gender\': 0, \'id\': 1415083, \'job\': \'Greensman\', \'name\': \'Scott C. Bivona\', \'profile_path\': None}, {\'credit_id\': \'59ac072c925141076502d260\', \'department\': \'Art\', \'gender\': 0, \'id\': 1881587, \'job\': \'Title Designer\', \'name\': \'Eunha Choi\', \'profile_path\': None}, {\'credit_id\': \'59ac077c925141077e02cb62\', \'department\': \'Art\', \'gender\': 0, \'id\': 1585302, \'job\': \'Construction Coordinator\', \'name\': \'Daniel Coe\', \'profile_path\': None}, {\'credit_id\': \'59ac07e0925141078a02d842\', \'department\': \'Art\', \'gender\': 0, \'id\': 1495523, \'job\': \'Set Designer\', \'name\': \'Spencer Davison\', \'profile_path\': None}, {\'credit_id\': \'59ac0862925141072f02cf6f\', \'department\': \'Art\', \'gender\': 0, \'id\': 1881589, \'job\': \'Painter\', \'name\': \'Sonia L. Garcia\', \'profile_path\': None}, {\'credit_id\': \'59ac08e0c3a3682bf0028e51\', \'department\': \'Art\', \'gender\': 0, \'id\': 1424896, \'job\': \'Art Department Coordinator\', \'name\': \'Caleb Guillotte\', \'profile_path\': None}, {\'credit_id\': \'59ac0920c3a3682c2202af36\', \'department\': \'Art\', \'gender\': 0, \'id\': 1393375, \'job\': \'Leadman\', \'name\': "Pat A. O\'Connor", \'profile_path\': None}, {\'credit_id\': \'59ac095592514107af02cc39\', \'department\': \'Art\', \'gender\': 0, \'id\': 1881592, \'job\': \'Set Designer\', \'name\': \'Brendan Turrill\', \'profile_path\': None}, {\'credit_id\': \'59ac0989925141072302bdfa\', \'department\': \'Art\', \'gender\': 2, \'id\': 76497, \'job\': \'Property Master\', \'name\': \'Brook Yeaton\', \'profile_path\': None}, {\'credit_id\': \'59ac0a2cc3a3682c9c02add1\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1881596, \'job\': \'Boom Operator\', \'name\': \'Matthew Armstrong\', \'profile_path\': None}, {\'credit_id\': \'59ac0aa8925141072f02d282\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 1558086, \'job\': \'Special Effects Supervisor\', \'name\': \'Matt Kutcher\', \'profile_path\': None}, {\'credit_id\': \'59ac0b2ac3a3682c2202b192\', \'department\': \'Crew\', \'gender\': 2, \'id\': 1558087, \'job\': \'Special Effects Coordinator\', \'name\': \'Eric Roberts\', \'profile_path\': None}, {\'credit_id\': \'59ac0b7ac3a3682c2202b1fb\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1392098, \'job\': \'Visual Effects Supervisor\', \'name\': \'Rocco Passionino\', \'profile_path\': None}, {\'credit_id\': \'59ac0bbe925141077e02d0c4\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1558716, \'job\': \'Visual Effects Coordinator\', \'name\': \'Joseph Payo\', \'profile_path\': None}, {\'credit_id\': \'59ac0bf2c3a3682cc802cefa\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1408784, \'job\': \'Visual Effects Producer\', \'name\': \'Chris Roff\', \'profile_path\': None}, {\'credit_id\': \'59ac0c51c3a3682c48029d99\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1881600, \'job\': \'Best Boy Electric\', \'name\': \'Ulyan Atamanyuk\', \'profile_path\': None}, {\'credit_id\': \'59ac0cbac3a3682c0a02cff6\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1881602, \'job\': \'Key Grip\', \'name\': \'Chris Ekstrom\', \'profile_path\': None}, {\'credit_id\': \'59ac0d54925141072f02d5e6\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1484984, \'job\': \'Best Boy Electric\', \'name\': \'Brad Garris\', \'profile_path\': None}, {\'credit_id\': \'59ac0db0925141078a02df86\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1881603, \'job\': \'Dolly Grip\', \'name\': \'Kendell Joseph\', \'profile_path\': None}, {\'credit_id\': \'59ac0e5a925141077e02d39f\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1549179, \'job\': \'Dolly Grip\', \'name\': \'Spencer Wilcox\', \'profile_path\': None}, {\'credit_id\': \'59ac0e9f925141079d02bee6\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1552626, \'job\': \'Key Costumer\', \'name\': \'Sarah P. Koeppe\', \'profile_path\': None}, {\'credit_id\': \'59ac0ec1c3a3682bf0029524\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1881605, \'job\': \'Seamstress\', \'name\': \'Catherine Rodi\', \'profile_path\': None}, {\'credit_id\': \'59ac0eef925141070702c7ff\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1463801, \'job\': \'Seamstress\', \'name\': \'Giselle Spence\', \'profile_path\': None}, {\'credit_id\': \'59ac0f5dc3a3682c4802a0f5\', \'department\': \'Production\', \'gender\': 0, \'id\': 1400837, \'job\': \'Location Manager\', \'name\': \'John A. Johnston\', \'profile_path\': None}, {\'credit_id\': \'59ac0ff2c3a3682c4802a196\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1844322, \'job\': \'Production Controller\', \'name\': \'Gail Marks\', \'profile_path\': None}]'

In [244]:
df_top_dir['crew']

1761    [{'credit_id': '52fe4cc8c3a36847f823e681', 'de...
1126    [{'credit_id': '52fe4495c3a368484e02b1cf', 'de...
2770    [{'credit_id': '55d5f7d4c3a3683e7e0016eb', 'de...
684     [{'credit_id': '551879bec3a3681f840004eb', 'de...
2322    [{'credit_id': '537f0b740e0a2624b40044d0', 'de...
Name: crew, dtype: object

In [245]:
#function to fetch names of director from the list
def director(crew):
  dir=[]
  for elem in crew:
    if elem['job'] == 'Director':
      dir.append(elem['name'])
  
  return dir

In [246]:
#create new column having names of directors 
df_top_dir['Directors']=df_top_dir.apply(lambda x:director(x['crew']),axis=1)

In [247]:
df_top_dir

         budget                  original_title  ...      Profit      Directors
1761  190000000                       Furious 7  ...  1316249360    [James Wan]
1126  220000000                    The Avengers  ...  1299557910  [Joss Whedon]
2770  280000000         Avengers: Age of Ultron  ...  1125403694  [Joss Whedon]
684   160000000            Beauty and the Beast  ...  1102886337  [Bill Condon]
2322  195000000  Transformers: Dark of the Moon  ...   928746996  [Michael Bay]

[5 rows x 6 columns]

Here Top 3 unique directors are '**James Wan**','**Joss Whedon**','**Bill condon**'

In [248]:
#Now for these directors  we can fetch number of movies they worked in and the cast of the movies
column4=['original_title','crew']
df_dir_crew=pd.DataFrame(df_imdb,columns=column4)
df_dir_crew.head(3)

                             original_title                                               crew
0                    Hot Tub Time Machine 2  [{'credit_id': '59ac067c92514107af02c8c8', 'de...
1  The Princess Diaries 2: Royal Engagement  [{'credit_id': '52fe43fe9251416c7502563d', 'de...
2                                  Whiplash  [{'credit_id': '54d5356ec3a3683ba0000039', 'de...

In [249]:
type(df_dir_crew.loc[0,'crew'])

str

In [250]:
df_dir_crew.dropna(inplace=True)
#before converse of string to list we have to replcae null values

In [251]:
df_dir_crew.loc[:,'crew']=df_dir_crew.loc[:,'crew'].apply(convert)

In [252]:
#function to fetch only name of directors is already defined and now we can use the same function here
df_dir_crew['Directors']=df_dir_crew.apply(lambda x : director(x['crew']),axis=1)

In [253]:
df_dir_crew.head(5)

                             original_title  ...          Directors
0                    Hot Tub Time Machine 2  ...       [Steve Pink]
1  The Princess Diaries 2: Royal Engagement  ...   [Garry Marshall]
2                                  Whiplash  ...  [Damien Chazelle]
3                                   Kahaani  ...      [Sujoy Ghosh]
4                                      마린보이  ...   [Jong-seok Yoon]

[5 rows x 3 columns]

In [254]:
df_dir_crew_count=df_dir_crew.explode('Directors')

In [255]:
df_dir_crew_count['Directors'].value_counts()

Clint Eastwood      11
Ron Howard          11
Steven Spielberg    10
Blake Edwards        9
Woody Allen          9
                    ..
Fons Rademakers      1
Paul Currie          1
Antony Hoffman       1
Jo√£o Jardim         1
Steven Brill         1
Name: Directors, Length: 2043, dtype: int64

'James Wan','Joss Whedon','Bill condon' - these are top 3 profitable movie director

From this data we conculed that top 3 directors who made most number of movies are Ron Howard , Clint Eastwood , Steven Spielberg

from here we can say that there are difference in directors

So here I can find which actors all 6 directors prefer and what movie they directed

In [256]:
#concat or merge two dataframe having orginal_title,cast,actors_list,crew and director_list
#df_movies            ---->having original_title,cast and actors_list
#df_dir_crew          ---->having original_title(movies name),crew and director_list
df_actor_director=pd.merge(df_movies, df_dir_crew, on="original_title")

In [257]:
df_actor_director.head(3)

                             original_title  ...          Directors
0                    Hot Tub Time Machine 2  ...       [Steve Pink]
1  The Princess Diaries 2: Royal Engagement  ...   [Garry Marshall]
2                                  Whiplash  ...  [Damien Chazelle]

[3 rows x 5 columns]

In [258]:
df_actor_director.drop(labels=['cast', 'crew'], axis=1)

                                original_title  ...          Directors
0                       Hot Tub Time Machine 2  ...       [Steve Pink]
1     The Princess Diaries 2: Royal Engagement  ...   [Garry Marshall]
2                                     Whiplash  ...  [Damien Chazelle]
3                                      Kahaani  ...      [Sujoy Ghosh]
4                                         마린보이  ...   [Jong-seok Yoon]
...                                        ...  ...                ...
3027                                   Chasers  ...    [Dennis Hopper]
3028                               Vi är bäst!  ...  [Lukas Moodysson]
3029                   The Long Kiss Goodnight  ...     [Renny Harlin]
3030                          Along Came Polly  ...     [John Hamburg]
3031                                 Abduction  ...   [John Singleton]

[3032 rows x 3 columns]

In [259]:
#search can only be performed on single element of type string
df_actor_director=df_actor_director.explode('Directors')

In [260]:
df_actor_director.drop(labels=['cast', 'crew'], axis=1).head(3)

                             original_title  ...        Directors
0                    Hot Tub Time Machine 2  ...       Steve Pink
1  The Princess Diaries 2: Royal Engagement  ...   Garry Marshall
2                                  Whiplash  ...  Damien Chazelle

[3 rows x 3 columns]

In [261]:
df_1=df_actor_director.loc[df_actor_director['Directors'].isin(['James Wan','Joss Whedon','Bill condon','Ron Howard' , 'Clint Eastwood' , 'Steven Spielberg'])]

In [262]:
df_1.drop(labels=['cast', 'crew'], axis=1).head(3)

              original_title  ...         Directors
14           Minority Report  ...  Steven Spielberg
107         A Beautiful Mind  ...        Ron Howard
118  In the Heart of the Sea  ...        Ron Howard

[3 rows x 3 columns]

In [263]:
df_1.groupby(['Directors'])[['actors']].sum()

                                                             actors
Directors
Clint Eastwood    [Angelina Jolie, Jeffrey Donovan, John Malkovi...
James Wan         [Patrick Wilson, Vera Farmiga, Lili Taylor, Ro...
Joss Whedon       [Robert Downey Jr., Chris Evans, Mark Ruffalo,...
Ron Howard        [Russell Crowe, Ed Harris, Jennifer Connelly, ...
Steven Spielberg  [Tom Cruise, Colin Farrell, Samantha Morton, M...

From above we can conclude the top 4 Directors(based on both parameters) prefers actors in list

# <b><u>Problem 3 :</u> Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI.

In [ ]:
# Hint below: Create a dataframe which looks like as shown
# DataFrame1
Movie    Producers     Directors

Movie1    [p1, p2]     [d1, d2]
Movie2    [p3, p4]     [d3, d4]

# DataFrame2
Movie    Producers       ROI
Movie1     p1            12
Movie1     p2            13
Movie2     p3            14
movie2     p4            15

# DataFrame3
Producer   Movies         Average_ROI
p1.    [m1, m2, m3]    avg_roi(m1, m2, m3)
p2     [m2, m4, m5]    avg_roi(m2, m4, m5)

In [264]:
# Your code here
#This Dataframe can be used to generate ROI
df_imdb_dir.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   budget          3000 non-null   int64
 1   original_title  3000 non-null   object
 2   crew            2984 non-null   object
 3   revenue         3000 non-null   int64
 4   Profit          3000 non-null   int64
dtypes: int64(3), object(2)
memory usage: 117.3+ KB

In [265]:
#check null values
df_imdb_dir.isnull().sum()

budget             0
original_title     0
crew              16
revenue            0
Profit             0
dtype: int64

In [266]:
#check if budget has value = 0
df_imdb_dir.loc[df_imdb_dir['budget']==0]
#So there are 812 rows having budget =0
#

      budget                              original_title  ...   revenue    Profit
4          0                                        마린보이  ...   3923970   3923970
7          0                                Control Room  ...   2586511   2586511
8          0                      Muppet Treasure Island  ...  34327391  34327391
11         0  Revenge of the Nerds II: Nerds in Paradise  ...  22642033  22642033
17         0                         The Invisible Woman  ...   1234254   1234254
...      ...                                         ...  ...       ...       ...
2989       0                     The Trumpet Of The Swan  ...    100202    100202
2990       0                                    B.A.P.S.  ...   7240837   7240837
2994       0                                 School Ties  ...  14715067  14715067
2995       0                                     Chasers  ...   1596687   1596687
2996       0                                 Vi är bäst!  ...    180590    180590

[812 rows x 5 columns]

In [267]:
#function to calculate ROI
def roi(Profit,budget):
  if(budget == 0):
    roi=0
  else:
    roi = int((Profit/budget)*100)

  return roi

In [268]:
#create new column having ROI for each movie
df_imdb_dir['ROI']=df_imdb_dir.apply(lambda x:roi(x['Profit'],x['budget']),axis=1)

In [269]:
df_imdb_dir.head(3)

     budget                            original_title  ...    Profit  ROI
0  14000000                    Hot Tub Time Machine 2  ...  -1685349  -12
1  40000000  The Princess Diaries 2: Royal Engagement  ...  55149435  137
2   3300000                                  Whiplash  ...   9792000  296

[3 rows x 6 columns]

In [270]:
df_dir_crew.crew[0]

[{'credit_id': '59ac067c92514107af02c8c8',
  'department': 'Directing',
  'gender': 0,
  'id': 1449071,
  'job': 'First Assistant Director',
  'name': 'Kelly Cantley',
  'profile_path': None},
 {'credit_id': '52fe4ee7c3a36847f82afad7',
  'department': 'Directing',
  'gender': 2,
  'id': 3227,
  'job': 'Director',
  'name': 'Steve Pink',
  'profile_path': '/myHOgo8mQSCiCAZNGMRdHVr03jr.jpg'},
 {'credit_id': '5524ed25c3a3687ded000d88',
  'department': 'Writing',
  'gender': 2,
  'id': 347335,
  'job': 'Writer',
  'name': 'Josh Heald',
  'profile_path': '/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg'},
 {'credit_id': '5524ed2d925141720c001128',
  'department': 'Writing',
  'gender': 2,
  'id': 347335,
  'job': 'Characters',
  'name': 'Josh Heald',
  'profile_path': '/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg'},
 {'credit_id': '5524ed3d92514166c1004a5d',
  'department': 'Production',
  'gender': 2,
  'id': 57822,
  'job': 'Producer',
  'name': 'Andrew Panay',
  'profile_path': None},
 {'credit_id': '5524ed4bc3a3687df3000dd2',
  'department': 'Production',
  'gender': 0,
  'id': 1451395,
  'job': 'Associate Producer',
  'name': 'Adam Blum',
  'profile_path': None},
 {'credit_id': '5524ed5a925141720c00112c',
  'department': 'Production',
  'gender': 2,
  'id': 52997,
  'job': 'Executive Producer',
  'name': 'Rob Corddry',
  'profile_path': '/k2zJL0V1nEZuFT08xUdOd3ucfXz.jpg'},
 {'credit_id': '5524ed85c3a3687e0e000f56',
  'department': 'Production',
  'gender': 0,
  'id': 62807,
  'job': 'Executive Producer',
  'name': 'Ben Ormand',
  'profile_path': None},
 {'credit_id': '5524ed9fc3a3687e0e000f59',
  'department': 'Sound',
  'gender': 2,
  'id': 23486,
  'job': 'Original Music Composer',
  'name': 'Christophe Beck',
  'profile_path': '/2fnJUmCk6IEpVIptpYaUk31epHx.jpg'},
 {'credit_id': '5524eda6c3a3687e03000d28',
  'department': 'Camera',
  'gender': 2,
  'id': 6117,
  'job': 'Director of Photography',
  'name': 'Declan Quinn',
  'profile_path': None},
 {'credit_id': '5524edb4925141720c00113d',
  'department': 'Editing',
  'gender': 0,
  'id': 1451396,
  'job': 'Editor',
  'name': 'Jamie Gross',
  'profile_path': None},
 {'credit_id': '5524edc1925141727600102e',
  'department': 'Production',
  'gender': 0,
  'id': 22219,
  'job': 'Casting',
  'name': 'Susie Farris',
  'profile_path': None},
 {'credit_id': '5524edd192514171cb008257',
  'department': 'Art',
  'gender': 0,
  'id': 1002643,
  'job': 'Production Design',
  'name': 'Ryan Berg',
  'profile_path': None},
 {'credit_id': '555ad9be9251411e5b00d485',
  'department': 'Production',
  'gender': 2,
  'id': 57431,
  'job': 'Executive Producer',
  'name': 'Matt Moore',
  'profile_path': None},
 {'credit_id': '5677e93bc3a36816890087dc',
  'department': 'Directing',
  'gender': 0,
  'id': 1551818,
  'job': 'Script Supervisor',
  'name': 'Nicole Garcea',
  'profile_path': None},
 {'credit_id': '5677e96a92514179e10093d0',
  'department': 'Production',
  'gender': 0,
  'id': 1551819,
  'job': 'Production Coordinator',
  'name': 'Jason Salzman',
  'profile_path': None},
 {'credit_id': '5677e98492514179d2008cd9',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1422996,
  'job': 'Costume Design',
  'name': 'Carol Cutshall',
  'profile_path': None},
 {'credit_id': '5677e9d5c3a368168e009414',
  'department': 'Art',
  'gender': 2,
  'id': 500199,
  'job': 'Set Decoration',
  'name': 'Tim Cohn',
  'profile_path': None},
 {'credit_id': '5677f89d9251417845001a61',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1527917,
  'job': 'Hair Department Head',
  'name': 'Voni Hinkle',
  'profile_path': None},
 {'credit_id': '5677f8b392514179dd0089fb',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1431554,
  'job': 'Makeup Department Head',
  'name': 'Remi Savva',
  'profile_path': None},
 {'credit_id': '5677f8d1c3a3681689008a4b',
  'department': 'Art',
  'gender': 0,
  'id': 66495,
  'job': 'Art Direction',
  'name': 'Jason Baldwin Stewart',
  'profile_path': None},
 {'credit_id': '5677f8eec3a3681685008dd5',
  'department': 'Production',
  'gender': 0,
  'id': 1412466,
  'job': 'Production Supervisor',
  'name': 'Korey Budd',
  'profile_path': None},
 {'credit_id': '5677f90a9251417845001a7d',
  'department': 'Sound',
  'gender': 0,
  'id': 1401562,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gary C. Bourgeois',
  'profile_path': None},
 {'credit_id': '5677f91e9251417845001a84',
  'department': 'Sound',
  'gender': 0,
  'id': 1396794,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gabriel J. Serrano',
  'profile_path': None},
 {'credit_id': '5677f938c3a3681680008dd4',
  'department': 'Editing',
  'gender': 0,
  'id': 13168,
  'job': 'Dialogue Editor',
  'name': 'Victoria Rose Sampson',
  'profile_path': None},
 {'credit_id': '5677f94e92514179dd008a1f',
  'department': 'Sound',
  'gender': 0,
  'id': 1551839,
  'job': 'Production Sound Mixer',
  'name': 'Michael B. Koff',
  'profile_path': None},
 {'credit_id': '5677f968c3a368168e009698',
  'department': 'Sound',
  'gender': 0,
  'id': 113052,
  'job': 'Sound Effects Editor',
  'name': 'Randall Guth',
  'profile_path': None},
 {'credit_id': '5677f98dc3a3681685008e02',
  'department': 'Crew',
  'gender': 2,
  'id': 1442535,
  'job': 'Stunt Coordinator',
  'name': 'Chuck Picerni Jr.',
  'profile_path': '/yE5QtXUzcrnCzMRctZL8F5g842B.jpg'},
 {'credit_id': '5677f9a692514179dd008a49',
  'department': 'Camera',
  'gender': 0,
  'id': 1437305,
  'job': 'Camera Operator',
  'name': 'Michael Applebaum',
  'profile_path': None},
 {'credit_id': '5677f9bd9251417845001aae',
  'department': 'Camera',
  'gender': 0,
  'id': 1401765,
  'job': 'Still Photographer',
  'name': 'Steve Dietl',
  'profile_path': None},
 {'credit_id': '5677f9e592514179e7008bf7',
  'department': 'Lighting',
  'gender': 0,
  'id': 1402721,
  'job': 'Rigging Gaffer',
  'name': 'Tarik Naim Alherimi',
  'profile_path': None},
 {'credit_id': '5677f9f4c3a368167c0090ed',
  'department': 'Lighting',
  'gender': 0,
  'id': 1402719,
  'job': 'Gaffer',
  'name': 'Paul Olinde',
  'profile_path': None},
 {'credit_id': '5677fa21c3a368168e0096ca',
  'department': 'Sound',
  'gender': 0,
  'id': 1551840,
  'job': 'Music Supervisor',
  'name': 'Steve Griffen',
  'profile_path': None},
 {'credit_id': '5677fa31c3a3681680008e04',
  'department': 'Sound',
  'gender': 0,
  'id': 1551841,
  'job': 'Music Editor',
  'name': 'Matt Fausak',
  'profile_path': None},
 {'credit_id': '5677fa4392514179dd008a76',
  'department': 'Sound',
  'gender': 0,
  'id': 1551840,
  'job': 'Music Editor',
  'name': 'Steve Griffen',
  'profile_path': None},
 {'credit_id': '5677fa609251417845001acf',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1403416,
  'job': 'Costume Supervisor',
  'name': 'Shonta T. McCray',
  'profile_path': None},
 {'credit_id': '5677fa8492514179d2008fb3',
  'department': 'Camera',
  'gender': 0,
  'id': 1425831,
  'job': 'Steadicam Operator',
  'name': 'Mark Karavite',
  'profile_path': None},
 {'credit_id': '5677fab2c3a3681689008ac3',
  'department': 'Camera',
  'gender': 0,
  'id': 1551842,
  'job': 'First Assistant Camera',
  'name': 'Joe Waistell',
  'profile_path': None},
 {'credit_id': '5677faecc3a368168e0096fe',
  'department': 'Sound',
  'gender': 0,
  'id': 58362,
  'job': 'Supervising Sound Editor',
  'name': 'Michael Hilkene',
  'profile_path': None},
 {'credit_id': '59ac0368c3a3682c0a02c484',
  'department': 'Crew',
  'gender': 0,
  'id': 1881584,
  'job': 'Additional Writing',
  'name': 'John Karnay',
  'profile_path': None},
 {'credit_id': '59ac0411c3a3682bf0028966',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1431552,
  'job': 'Hairstylist',
  'name': 'Daina Daigle',
  'profile_path': None},
 {'credit_id': '59ac0504925141072302b8fb',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1712001,
  'job': 'Makeup Artist',
  'name': 'Allison Gordin',
  'profile_path': None},
 {'credit_id': '59ac0570c3a3682bf0028aac',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 578725,
  'job': 'Makeup Artist',
  'name': 'Darryl Lucas',
  'profile_path': None},
 {'credit_id': '59ac05a4925141077e02c97e',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1463274,
  'job': 'Makeup Artist',
  'name': 'Annabelle MacNeal',
  'profile_path': None},
 {'credit_id': '59ac05c6925141076502d106',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1881586,
  'job': 'Makeup Artist',
  'name': 'Marina Savva',
  'profile_path': None},
 {'credit_id': '59ac0615c3a3682c480296aa',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1406267,
  'job': 'Hairstylist',
  'name': 'Carl G. Variste',
  'profile_path': None},
 {'credit_id': '59ac06ba925141076502d1fa',
  'department': 'Directing',
  'gender': 0,
  'id': 1798593,
  'job': 'First Assistant Director',
  'name': 'Josh King',
  'profile_path': None},
 {'credit_id': '59ac06f1c3a3682c2202aca0',
  'department': 'Art',
  'gender': 0,
  'id': 1415083,
  'job': 'Greensman',
  'name': 'Scott C. Bivona',
  'profile_path': None},
 {'credit_id': '59ac072c925141076502d260',
  'department': 'Art',
  'gender': 0,
  'id': 1881587,
  'job': 'Title Designer',
  'name': 'Eunha Choi',
  'profile_path': None},
 {'credit_id': '59ac077c925141077e02cb62',
  'department': 'Art',
  'gender': 0,
  'id': 1585302,
  'job': 'Construction Coordinator',
  'name': 'Daniel Coe',
  'profile_path': None},
 {'credit_id': '59ac07e0925141078a02d842',
  'department': 'Art',
  'gender': 0,
  'id': 1495523,
  'job': 'Set Designer',
  'name': 'Spencer Davison',
  'profile_path': None},
 {'credit_id': '59ac0862925141072f02cf6f',
  'department': 'Art',
  'gender': 0,
  'id': 1881589,
  'job': 'Painter',
  'name': 'Sonia L. Garcia',
  'profile_path': None},
 {'credit_id': '59ac08e0c3a3682bf0028e51',
  'department': 'Art',
  'gender': 0,
  'id': 1424896,
  'job': 'Art Department Coordinator',
  'name': 'Caleb Guillotte',
  'profile_path': None},
 {'credit_id': '59ac0920c3a3682c2202af36',
  'department': 'Art',
  'gender': 0,
  'id': 1393375,
  'job': 'Leadman',
  'name': "Pat A. O'Connor",
  'profile_path': None},
 {'credit_id': '59ac095592514107af02cc39',
  'department': 'Art',
  'gender': 0,
  'id': 1881592,
  'job': 'Set Designer',
  'name': 'Brendan Turrill',
  'profile_path': None},
 {'credit_id': '59ac0989925141072302bdfa',
  'department': 'Art',
  'gender': 2,
  'id': 76497,
  'job': 'Property Master',
  'name': 'Brook Yeaton',
  'profile_path': None},
 {'credit_id': '59ac0a2cc3a3682c9c02add1',
  'department': 'Sound',
  'gender': 0,
  'id': 1881596,
  'job': 'Boom Operator',
  'name': 'Matthew Armstrong',
  'profile_path': None},
 {'credit_id': '59ac0aa8925141072f02d282',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 1558086,
  'job': 'Special Effects Supervisor',
  'name': 'Matt Kutcher',
  'profile_path': None},
 {'credit_id': '59ac0b2ac3a3682c2202b192',
  'department': 'Crew',
  'gender': 2,
  'id': 1558087,
  'job': 'Special Effects Coordinator',
  'name': 'Eric Roberts',
  'profile_path': None},
 {'credit_id': '59ac0b7ac3a3682c2202b1fb',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1392098,
  'job': 'Visual Effects Supervisor',
  'name': 'Rocco Passionino',
  'profile_path': None},
 {'credit_id': '59ac0bbe925141077e02d0c4',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1558716,
  'job': 'Visual Effects Coordinator',
  'name': 'Joseph Payo',
  'profile_path': None},
 {'credit_id': '59ac0bf2c3a3682cc802cefa',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1408784,
  'job': 'Visual Effects Producer',
  'name': 'Chris Roff',
  'profile_path': None},
 {'credit_id': '59ac0c51c3a3682c48029d99',
  'department': 'Lighting',
  'gender': 0,
  'id': 1881600,
  'job': 'Best Boy Electric',
  'name': 'Ulyan Atamanyuk',
  'profile_path': None},
 {'credit_id': '59ac0cbac3a3682c0a02cff6',
  'department': 'Camera',
  'gender': 0,
  'id': 1881602,
  'job': 'Key Grip',
  'name': 'Chris Ekstrom',
  'profile_path': None},
 {'credit_id': '59ac0d54925141072f02d5e6',
  'department': 'Lighting',
  'gender': 0,
  'id': 1484984,
  'job': 'Best Boy Electric',
  'name': 'Brad Garris',
  'profile_path': None},
 {'credit_id': '59ac0db0925141078a02df86',
  'department': 'Camera',
  'gender': 0,
  'id': 1881603,
  'job': 'Dolly Grip',
  'name': 'Kendell Joseph',
  'profile_path': None},
 {'credit_id': '59ac0e5a925141077e02d39f',
  'department': 'Camera',
  'gender': 0,
  'id': 1549179,
  'job': 'Dolly Grip',
  'name': 'Spencer Wilcox',
  'profile_path': None},
 {'credit_id': '59ac0e9f925141079d02bee6',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1552626,
  'job': 'Key Costumer',
  'name': 'Sarah P. Koeppe',
  'profile_path': None},
 {'credit_id': '59ac0ec1c3a3682bf0029524',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1881605,
  'job': 'Seamstress',
  'name': 'Catherine Rodi',
  'profile_path': None},
 {'credit_id': '59ac0eef925141070702c7ff',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1463801,
  'job': 'Seamstress',
  'name': 'Giselle Spence',
  'profile_path': None},
 {'credit_id': '59ac0f5dc3a3682c4802a0f5',
  'department': 'Production',
  'gender': 0,
  'id': 1400837,
  'job': 'Location Manager',
  'name': 'John A. Johnston',
  'profile_path': None},
 {'credit_id': '59ac0ff2c3a3682c4802a196',
  'department': 'Crew',
  'gender': 0,
  'id': 1844322,
  'job': 'Production Controller',
  'name': 'Gail Marks',
  'profile_path': None}]

In [271]:
#drop null values from crew column before converting it to list
df_imdb_dir.dropna(inplace=True)

In [272]:
#function to convert crew column to list
def convert_2(str):
  return eval(str)

In [273]:
#convert column =crew to list
df_imdb_dir.loc[:,'crew']=df_imdb_dir.loc[:,'crew'].apply(convert_2)

In [274]:
df_imdb_dir['Directors']=df_imdb_dir.apply(lambda x : director(x['crew']),axis=1)

In [275]:
#function to fetch producer  information only
def prod(crew):
  prod=[]
  for elem in crew:
    if(elem['job'] == 'Producer'):
      prod.append(elem['name'])
        
  return prod

In [276]:
#genrate 2 columns (Producer and director)
df_imdb_dir['Producers']=df_imdb_dir.apply(lambda x : prod(x['crew']),axis=1)

In [213]:
df_imdb_dir.head(5)

     budget  ...                                          Producers
0  14000000  ...                                     [Andrew Panay]
1  40000000  ...  [Whitney Houston, Mario Iscovich, Debra Martin...
2   3300000  ...  [David Lancaster, Michel Litvak, Jason Blum, H...
3   1200000  ...                                      [Sujoy Ghosh]
4         0  ...                                                 []

[5 rows x 8 columns]

In [277]:
#First dataframe according to question asked consist of only 3 columns -Movies ,Producer and directors
column6=['original_title','Producers','Directors']
df_prod_dir=pd.DataFrame(df_imdb_dir,columns=column6)
df_prod_dir.head(5)

                             original_title  ...          Directors
0                    Hot Tub Time Machine 2  ...       [Steve Pink]
1  The Princess Diaries 2: Royal Engagement  ...   [Garry Marshall]
2                                  Whiplash  ...  [Damien Chazelle]
3                                   Kahaani  ...      [Sujoy Ghosh]
4                                      마린보이  ...   [Jong-seok Yoon]

[5 rows x 3 columns]

In [279]:
#Second dataframe according to given ques consist of another 3 column - Movies,Producer and ROI
column7=['original_title','Producers','ROI']
df_prod_dir=pd.DataFrame(df_imdb_dir,columns=column7)
df_prod_dir.head(5)

                             original_title  ...   ROI
0                    Hot Tub Time Machine 2  ...   -12
1  The Princess Diaries 2: Royal Engagement  ...   137
2                                  Whiplash  ...   296
3                                   Kahaani  ...  1233
4                                      마린보이  ...     0

[5 rows x 3 columns]

In [280]:
df_prod_dir=df_prod_dir.explode('Producers')

In [281]:
df_prod_dir.head(10)

                             original_title           Producers   ROI
0                    Hot Tub Time Machine 2        Andrew Panay   -12
1  The Princess Diaries 2: Royal Engagement     Whitney Houston   137
1  The Princess Diaries 2: Royal Engagement      Mario Iscovich   137
1  The Princess Diaries 2: Royal Engagement  Debra Martin Chase   137
2                                  Whiplash     David Lancaster   296
2                                  Whiplash       Michel Litvak   296
2                                  Whiplash          Jason Blum   296
2                                  Whiplash     Helen Estabrook   296
3                                   Kahaani         Sujoy Ghosh  1233
4                                      마린보이                 NaN     0

In [ ]:
# DataFrame3
Producer   Movies         Average_ROI
p1.    [m1, m2, m3]    avg_roi(m1, m2, m3)
p2     [m2, m4, m5]    avg_roi(m2, m4, m5)

In [282]:
df_avg_movies =  df_prod_dir.groupby(['Producers','original_title'],as_index=False).ROI.mean()

In [283]:
df_avg_movies.head(5)

            Producers             original_title  ROI
0             50 Cent                      Setup  -89
1             50 Cent          The Frozen Ground  -79
2       A. M. Rathnam                   Arrambam  128
3       A. M. Rathnam  Kandukondain Kandukondain    0
4  A. V. M. Saravanan                       Ayan  457

In [284]:
#third Dataframe has grouped movies of individual Producer and then calculated their average ROI
df_prod_movies=df_prod_dir.groupby('Producers')['original_title'].apply(list)

In [285]:
df_prod_movies.head(10)

Producers
50 Cent                          [Setup, The Frozen Ground]
A. M. Rathnam         [Kandukondain Kandukondain, Arrambam]
A. V. M. Saravanan                           [சிவாஜி, Ayan]
A.J. Dix                [The Butterfly Effect, Dark Places]
Aamir Khan                  [दंगल, Jaane Tu... Ya Jaane Na]
Aaron L. Gilbert                          [I Saw the Light]
Aaron Lubin                               [Nice Guy Johnny]
Aaron Mazzolini                                 [Crossover]
Aaron Russo                           [The Rose, Wise Guys]
Aaron Ryder                       [The Raven, The Prestige]
Name: original_title, dtype: object

In [286]:
df_prod_ROI=df_prod_dir.groupby('Producers')['ROI'].apply(list)

In [287]:
df_prod_ROI.head(10)

Producers
50 Cent                [-89, -79]
A. M. Rathnam            [0, 128]
A. V. M. Saravanan      [58, 457]
A.J. Dix               [638, -98]
Aamir Khan            [2880, 382]
Aaron L. Gilbert            [-87]
Aaron Lubin                   [0]
Aaron Mazzolini              [20]
Aaron Russo            [215, -34]
Aaron Ryder             [14, 174]
Name: ROI, dtype: object

In [288]:
df_movie_ROI=pd.merge(df_prod_movies, df_prod_ROI, on="Producers")

In [289]:
df_movie_ROI.head(10)

                                           original_title          ROI
Producers
50 Cent                        [Setup, The Frozen Ground]   [-89, -79]
A. M. Rathnam       [Kandukondain Kandukondain, Arrambam]     [0, 128]
A. V. M. Saravanan                         [சிவாஜி, Ayan]    [58, 457]
A.J. Dix              [The Butterfly Effect, Dark Places]   [638, -98]
Aamir Khan                [दंगल, Jaane Tu... Ya Jaane Na]  [2880, 382]
Aaron L. Gilbert                        [I Saw the Light]        [-87]
Aaron Lubin                             [Nice Guy Johnny]          [0]
Aaron Mazzolini                               [Crossover]         [20]
Aaron Russo                         [The Rose, Wise Guys]   [215, -34]
Aaron Ryder                     [The Raven, The Prestige]    [14, 174]

In [290]:
#function to find the average of ROI
def avg_roi(ROI):
  return sum(ROI) / len(ROI)

In [291]:
#create new column having average ROI
df_movie_ROI['Average_ROI']=df_movie_ROI.apply(lambda x : avg_roi(x['ROI']),axis=1)
df_movie_ROI.head(10)

                                           original_title  ... Average_ROI
Producers                                                  ...
50 Cent                        [Setup, The Frozen Ground]  ...       -84.0
A. M. Rathnam       [Kandukondain Kandukondain, Arrambam]  ...        64.0
A. V. M. Saravanan                         [சிவாஜி, Ayan]  ...       257.5
A.J. Dix              [The Butterfly Effect, Dark Places]  ...       270.0
Aamir Khan                [दंगल, Jaane Tu... Ya Jaane Na]  ...      1631.0
Aaron L. Gilbert                        [I Saw the Light]  ...       -87.0
Aaron Lubin                             [Nice Guy Johnny]  ...         0.0
Aaron Mazzolini                               [Crossover]  ...        20.0
Aaron Russo                         [The Rose, Wise Guys]  ...        90.5
Aaron Ryder                     [The Raven, The Prestige]  ...        94.0

[10 rows x 3 columns]